body {
    background-color: lightgray;
    /* color: lightgray; */
}

#forum-name {

}

.post {
    width: 50%;
    margin-left: 2%;
    border: 2px solid white;
    border-radius: 1%;
    padding: 0.2%;
}

.post h1 {
    margin: 0;
}

.post:hover {
    border: 2px solid black;
}


.post-text p {
    margin: 0;
}
