body {
    background-color: rgb(109, 99, 99);
}

#sections {
    width: 80vw;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

div.section {
    background-color: gray;
    padding-bottom: 2vh;
    margin-bottom: 2vh;
    border-radius: 15px;
}

div.title {
    background-color: orange;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: black;
}

div.title h1 {
    margin-bottom: 0;
    margin-left: 0.4vw;
}

dd.forum {
    padding: 1%;
    padding-bottom: 0;
    padding-top: 0;
}

div.forum-info {

}

.forum-name {
    margin-top: 1vh;
    margin-bottom: 0;
    font-size: xx-large;
    display: inline-block;
}

.forum-posts {
    font-size: large;
    display: inline-block;
    color: rgb(167, 167, 0);
    margin-top: 0;
    margin-left: 0.5vw;
    margin-bottom: 0;
}

.forum-desc {
    font-size: large;
    margin-top: 0;
}