body {
    background-color: rgb(109, 99, 99);
}

#sections {
    margin-left: 2vw;
    outline: 2px solid black;
}

.section h1 {
    outline: 2px solid black;
    margin-bottom: 0;
}

.forum-wrapper {
    width: 25%;
    outline: 2px solid black;
}

/* top right bottom left */
div.forum {
    padding-left: 0.2vw;
}

.forum-name {
    margin: 0;
}

.forum-posts {
    margin: 0;
    margin-top: 0.6vh;
    font-size:small;
}