#submit-wrapper {
    
}

#submit-wrapper h1 {
    margin-bottom: 0;
}

#submit-wrapper p {
    margin-top: 0;
    width: fit-content;
    margin-left: 0.4%;
}

#form-area form input[name='title'] {
    width: 100%;
}

#form-area textarea {
    width: 100%;
    resize: vertical;
    margin-top: 0.5%;
}


#form-area {

}