body {
    margin: 0;
}

#form-wrapper {
    display: grid;
    justify-content: center;
    height: 100%;
}

#form-wrapper form ul {
    list-style-type: none;
}

#form-wrapper form ul li {
    padding: 1%;
}

#form-wrapper form ul li input {
    padding: 2%;
    
}